<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Product</title>
</head>
<body>

<div class="container">
  <h1>Create new item!</h1>
  <form action="/create" method="post">
    <div class="form-group">
      <label>Name: <input type="text" name="name" class="form-control" placeholder="Please enter pokemons name"></label>
    </div>
    <div class="form-group">
      <label>Speed: <input type="number" name="speed" class="form-control" placeholder="Please enter pokemons speed"></label>
    </div>
    <div class="form-group">
      <label>Special Defence: <input type="number" name="specialDefence" class="form-control" placeholder="Please enter pokemons special defence"></label>
    </div>
    <div class="form-group">
      <label>Special Attack: <input type="number" name="specialAttack" class="form-control" placeholder="Please enter pokemons special attack"></label>
    </div>
    <div class="form-group">
      <label>Defence: <input type="number" name="defence" class="form-control" placeholder="Please enter pokemons defence"></label>
    </div>
    <div class="form-group">
      <label>Attack: <input type="number" name="attack" class="form-control" placeholder="Please enter pokemons defence"></label>
    </div>
    <div class="form-group">
      <label>HP: <input type="number" name="hp" class="form-control" placeholder="Please enter pokemons HP"></label>
    </div>
    <div class="form-group">
      <select name="primaryType">
        <option value="Bug">Bug</option>
        <option value="Dragon">Dragon</option>
        <option value="Electric">Electric</option>
        <option value="Fairy">Fairy</option>
        <option value="Fighting">Fighting</option>
        <option value="Fire">Fire</option>
        <option value="Ghost">Ghost</option>
        <option value="Grass">Grass</option>
        <option value="Ground">Ground</option>
        <option value="Ice">Ice</option>
        <option value="Normal">Normal</option>
        <option value="Poison">Poison</option>
        <option value="Psychic">Psychic</option>
        <option value="Rock">Rock</option>
        <option value="Water">Water</option>
      </select>
    </div>
    <div class="form-group">
      <select name="secondaryType">
        <option value="Fairy">Fairy</option>
        <option value="Fighting">Fighting</option>
        <option value="Flying">Flying</option>
        <option value="Grass">Grass</option>
        <option value="Ground">Ground</option>
        <option value="Ice">Ice</option>
        <option value="Poison">Poison</option>
        <option value="Psychic">Psychic</option>
        <option value="Rock">Rock</option>
        <option value="Steel">Steel</option>
        <option value="Water">Water</option>
        <option value="null">None</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

</body>
</html>