<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<span th:text="${pokemon.id}">Id</span>
<span th:text="${pokemon.name}">Name</span>
<span th:text="${pokemon.speed}">Speed</span>
<span th:text="${pokemon.specialDefence}">Special Defence</span>
<span th:text="${pokemon.specialAttack}">Special Attack</span>
<span th:text="${pokemon.defence}">Defence</span>
<span th:text="${pokemon.attack}">Attack</span>
<span th:text="${pokemon.hp}">HP</span>
<span th:text="${pokemon.primaryType}">Primary Type</span>
<span th:text="${pokemon.secondaryType}">Secondary Type</span>
</body>
</html>